<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Credenciais</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list lines="full" class="ion-no-margin">
        <ion-item>
          <ion-label>Usuario :</ion-label>
          <ion-input [(ngModel)]="login.usuario "></ion-input>    
        </ion-item>
        <ion-item>
          <ion-label>Senha:</ion-label>
          <ion-input [(ngModel)]="login.senha"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="full" (click)="verificarCredenciasValidas()">Entrar</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
